
._generalmusic.livecodescript
._api.lcdoc
._LCDOC Template.txt
._generalmusic0.1.livecodescript
samples/.DS_Store
org.openxtalk.library.generalmusic.1.0.0/support/.DS_Store
resources/.DS_Store
._manifest.xml
*.old
samples/._GeneralMusicLib Demos.oxtstack
.DS_Store
.DS_Store
.DS_Store
._org.openxtalk.library.generalmusic.1.0.0.lce.zip
